/* Estiliza a área inteira da barra de rolagem */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
    background-color: #f0f0f0; /* Cor de fundo da barra de rolagem */
}

/* Estiliza a parte que se move da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: rgb(60, 138, 255); /* Cor da parte móvel */
    border-radius: 10px; /* Bordas arredondadas */
}

/* Estiliza a parte da barra de rolagem que não é coberta pela parte móvel */
::-webkit-scrollbar-track {
    background-color: #ffffff; /* Cor do trilho */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Montserrat", sans-serif;
    
}

body{
    background: rgb(175, 60, 60);
}
 /* header navbar */
 header{
    background-color: #242424;
    border-bottom: 1px solid rgb(72, 72, 72);
    height: 8% ;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100% ;
    z-index: 1000;
    position: fixed;
}
nav{
    display: flex;
    gap: 30px;
    margin-right: 100px;
}
a{
    font-size: 14px;
    text-decoration: none;
    color: white;
}
a:hover{
    background-color: white;
    color: rgb(21, 115, 255);
}
 /* fim */
 /* main pag1 */
.pag-1{
    height: 100vh;
    display: flex;
    justify-content: center;
}
/* .desingn{
    display: flex;
    justify-content: end;
    justify-items: end;
    background-color: rgb(21, 115, 255);
    height: 100vh;
    width: 60%;
    clip-path: polygon(50% 0%, 0% 50%, 50% 100%);
} */
.main-pag1{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #242424;
  
}
h1{
    color: white;
    font-size: 48px;
}
p{
    color: white;
    font-size: 20px;
}
button{
    color: rgb(21, 115, 255);
    background-color: white;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 10px;
}
.paragrafo-pag1{
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin-left: 200px;
}

/* Habilidades pag2 */


.pag-2{
    height: 100vh;    
}
.habilidades-h3{
    display: flex;
    justify-content: center;
}

h3{
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 60px;
    font-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80px;
   
}
.img-habilidades{
    justify-content: center;
    display: flex;
    
}
.img-televisao{
    width: 800px;
    height: 500px;
}

/* Projetos */

.pag-3{
    height: 100vh;
}
.projetos-h3{
    display: flex;
    justify-content: center;
}




.pag-4{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.container-pag4{
   display: flex;
   margin-top: auto;
   flex-direction: row;
   color: aliceblue;
    width: 100vw;
}

.github-pag4{
    width: 400%;
    height: 160px;
    background: rgb(68, 68, 128);
   
}

.linkdln-pag4{
    width: 500%;
    height: 160px;
    background: rgb(68, 68, 128);
   
}
.teste{
    width: 500%;
    height: 160px;
    background: rgb(68, 68, 128);
}
.email-pag4{
    width: 400%;
    height: 160px;
    background: rgb(68, 68, 128);
}
.footer{
    display: flex;
    flex-direction: row; 
}