
body{
  background-color: #fbfbfb;  
  font-style: normal;
}
h1{
 
  font-weight: 400;

}
p{
  font-family: "Montserrat", sans-serif;
  
}
#img-home{
  background-image: url('./imgs/Blod.png');
  background-size: cover;
  width: 405px;
  height: 300px;
  padding-top: 120px;
}
